$default-text-color: #252529;
$primary-text-color: #42b983;

// gray
$gray-02: #f9f9f9;
$gray-03: #c2c2c2;
$gray-04: #e9e9e9;
$gray-05: #676767;
$gray-06: #3b3b3b;
$gray-07: #252529;

// black

// white
$white: #ffffff;

// icon
$calendar-icon: #898989;
$down-icon: #696969;
